@charset "UTF-8";

html {
  margin: 0 auto;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  color: balck;
  background-color: #f6f6f6;
}

/* header
------------------------------ */
#header {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
#header .wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}

.logo {
  float: left;
  margin: 22px 0;
  font-size: 1.4rem;
  font-weight: 700;
}

#header ul {
  float: right;
  margin: 34px 0;
  font-size: 0.9rem;
  font-weight: 500;
}
#header ul li {
  float: left;
  margin-right: 40px;
  padding-top: 3px;
}
#header ul li:last-child {
  margin-right: 0;
}

a {
  color: black;
  text-decoration: none;
}

.for_icon {
  display: block;
  width: 50px;
  height: 50px;
}
i {
  color: solid;
}

/* main
------------------------------ */

/* title */

main {
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
}

.line_btn {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.line_btn h2 {
  font-size: 24px;
  padding: 10px;
}

.line_btn p {
  width: 30%;
  margin: 0 auto;
  padding: 5px;
  line-height: 150%;
}

.line_btn button {
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 22px;
}

.main_title {
  height: 80%;
  writing-mode: vertical-rl;
  font-size: 32px;
  letter-spacing: 10px;
  line-height: 200%;
  width: 90%;
  padding-top: 50px;
  font-family: "Times New Roman", Times, serif;
  background-image: url(../image/Yaruki_Website.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left center;
}

/* YARUKIとは */

section {
  width: 80%;
  padding-top: 80px;
  margin: 0 auto;
  margin-top: 200px;
}

section h2 {
  font-size: 42px;
  letter-spacing: 0.15em;
  line-height: 70px;
  padding: 10px;
  font-weight: bolder;
  float: none;
}

section img {
  margin-top: 10px;
  width: 120px;
  height: 120px;
}

.featureImg {
  mix-blend-mode: multiply;
  width: 80px;
  height: 80px;
  margin-top: 35px;
  margin-bottom: 15px;
}

section p {
  padding: 50px 0px 20px 5px;
  letter-spacing: 0.04em;
  line-height: 150%;
  font-size: 20px;
}

.section1 {
  background-color: none;
}
/* 特徴 */
.section3,
.section4,
.section5 {
  margin-top: 250px;
  text-align: center;
}
.section3 ul {
  margin-top: 30px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.section3 ul li {
  width: 45%;
  box-sizing: border-box;
  display: block;
  float: right;
  margin: 1%;
  margin-top: 50px;
  margin-right: 3%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 -15px 25px -10px rgba(0, 0, 0, 0.1);
}

.section3 ul li h3 {
  font-size: 23px;
  letter-spacing: 00.15em;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  line-height: 150%;
}

.section3 ul li p {
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 130%;
  padding: 30px 0px;
}

/* 料金 */

.section4 {
  position: relative;
  padding: 1em 2em;
  border: 1px solid black;
  text-align: center;
  margin-top: 0px;
}

.on_section {
  position: absolute;
  float: none;
  top: -12%;
  left: 50%;
  background-color: #f4f4f4;
  transform: translateY(-100%);
  -webkit-transform: translateX(-50%);
}

.section4 p {
  font-size: 25px;
  font-weight: bold;
  padding-top: 5px;
}
#feeM {
  margin-top: 80px;
  font-size: 18px;
}

#feeMspan {
  font-size: 54px;
}
#entry_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 36px;
  border: none;
  cursor: pointer;
  width: 30%;
}

#entry_btn img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#companies {
  overflow: hidden;
  display: block;
}
.section5 #companies img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.section5 p {
  font-size: 32px;
  color: black;
  padding-top: 10px;
}

.footer {
  margin-top: 100px;
  padding: 2rem;
  font-size: 15px;
  border-top: 1px solid #e5e7eb;
}

.footer a:hover {
  color: #000;
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .md-flex {
    display: flex;
  }

  .md-flex li + li {
    margin-left: 16px;
  }
}

@media (max-width: 850px) {
  main {
    width: 100%;
  }
  .main_title {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-right: 15%;
    font-size: 22px;
    margin-top: 20px;
    background-size: 60%;
    background-position: 20% 60%;
  }

  section h2 {
    font-size: 22px;
    line-height: 30px;
  }

  section p {
    padding: 30px 0px 20px 0px;
    font-size: 18px;
  }

  .section3 {
    margin-top: 200px;
  }
  .section3 ul li {
    width: 100%;
    margin: 1%;
    margin-top: 30px;
    margin-right: 3%;
    padding: 40px;
    border-radius: 10px;
  }

  .section4 {
    width: 70%;
  }

  .on_section {
    top: -8%;
  }

  #feeM {
    margin-top: 40px;
  }

  .section5 p {
    font-size: 24px;
  }

  #header_nav {
    display: none;
  }

  .wrapper {
    width: 80%;
    text-align: center;
  }
  #header p {
    float: none;
    width: 50%;
    margin: 22px 0;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 700;
  }

  #header a {
    width: 50%;
    margin: 0 auto;
  }

  #entry_btn {
    width: 70%;
  }

  html {
    width: 100%;
  }
}

@media (max-width: 500px) {
  section,
  .section3,
  .section4,
  .section5,
  #for_ {
    margin-top: 100px;
  }
  .on_section {
    top: -7%;
  }

  #feeM {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
  }

  #feeMspan {
    font-size: 25px;
  }

  .section3 ul li {
    margin-right: 0px;
    padding: 20px;
    padding-bottom: 30px;
  }

  .section5 #companies img {
    width: 80%;
  }
}
