.mainHeader {
  text-align: center;
}

main h1 {
  margin: 0 auto;
  font-size: 36px;
  font-weight: bolder;
}

.mainBody {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
main h2 {
  font-size: 24px;
  font-weight: 300;
  padding-top: 50px;
}

main p,
li,
td {
  padding-top: 30px;
  line-height: 200%;
  letter-spacing: 0.2em;
  text-align: justify;
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
}

td {
  padding-top: 80px;
  border-bottom: solid;
  border-width: thin;
}
.name {
  padding-right: 30px;
  white-space: nowrap;
}
td span {
  font-size: 14px;
}

#email_br {
  display: none;
}

footer p,
footer li {
  padding: 0;
  margin: 0;
  line-height: 100%;
}

@media (max-width: 850px) {
  .name {
    white-space: normal;
  }
}

@media (max-width: 500px) {
  #email_small {
    font-size: 12px;
    text-align: left;
  }

  #email_br {
    display: inline;
  }
}
